.bg_image {
    background-image: url(https://www.ajlpestcontrolservices.com/images/subbanner.jpg);
    padding: 20px 0px;
    margin-bottom: 15px;
}

.bg_image h4,
.bg_image ol li a,
.bg_image ol li {
    color: #fff !important;
}

.bg_image ol li::before {
    color: #fff !important;
}

.bx_shadow {
    box-shadow: 4px 3px 8px 4px rgb(232, 177, 237);
    padding: 30px;
}